body  {
  font-size: 1.125rem;
  color: 707070;
  margin: 0;
  background: #fadadd;
}


/* Typography */
h1 {
  font-size: 3rem;
  color: 212614;
  text-align: center;
}

h1 span {
  color: #B7832F;
}

h2 {
  font-size: 1.5rem;
}


/* Layout */
img {
  max-width: 100%; 
}

.container {
  width: 95%;
  max-width: 980px;
  margin: 0 auto;
  
}

.columns {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin:  1em 0;
  border: 5px solid steelblue;
}

.col-1 {
   width: 20%;
}

.col-2 {
  width: 45%;
}

.col-3 {
  width: 70%;
}

@media (max-width: 650px){
  .columns {
    flex-direction: column;
  }
  body {
    background: #fddde6;
  }
  .col-1,
  .col-2, 
  .col-3 {
    width: 100%;
  }
}

.col-bg {
  background: #212614;
  color: #fff;
  padding: .5em;
}
